node_modules
npm-debug.log
.env
.env.local
.env.*.local
dist
*.log
.git
.gitignore
README.md
.vscode
.idea
*.md
.DS_Store
coverage
.nyc_output
uploads/*
!uploads/.gitkeep
src/scripts
*.test.ts
*.spec.ts
.prettierrc
.eslintrc
.editorconfig
